<body><div>
    <label>Название группы</label>
    <input class="form-control" name="groupname" [(ngModel)]="group.groupName" #groupName = "ngModel"
           required pattern="[a-zA-Z_+ ]*"/>
  <div [hidden]="groupName.valid || groupName.untouched" class="alert alert-danger">Некорректное название!</div>
  </div>
  <div>
    <label>Игра</label>
    <select [(ngModel)]="group.gameId">
      <option *ngFor="let game of gameList" [value]="game.id">{{game.title}}</option>
    </select>
  </div>
  <div>
    <label>Свободных мест:</label>
    <input type="number" name="groupspace" [(ngModel)]="group.freeSpace"/>
  </div>
  <div>
    <button (click)="submit(group)">Создать группу</button>
  </div>
</body>
