<body><div *ngIf="game">
  <p>
    Название игры: {{game.title}}
  </p>
  <p>
    Жанр: {{game.genre}}
  </p>
  <p>
    Кол-во игроков: от {{game.minNum}} до {{game.maxNum}}
  </p>
    <ng-container *ngIf="groupList && groupList.length > 0; then groupsExist; else noGroups">
    </ng-container>

    <ng-template #groupsExist>
      <p>Текущие группы: </p>
      <ul>
        <li *ngFor="let g of groupList">
          <a routerLink="/group/{{g.id}}">{{g.groupName}}</a>
        </li>
      </ul>
    </ng-template>

    <ng-template #noGroups>
      <h3>Для этой игры пока нет ни одной группы. <a routerLink="/addgroup">Создать?</a></h3>
    </ng-template>

  </div>
</body>
