<body>
<div class = "form-game">

  <label>Название игры</label>
  <input class="form-control" name="gametitle" [(ngModel)]="game.title" #gameTitle="ngModel"
         required pattern="[a-zA-Z_+ ]*"/>
  <div [hidden]="gameTitle.valid || gameTitle.untouched" class="alert alert-danger">Некорректное название!</div>

  <label>Жанр</label>
  <input class="form-control" name="gamegenre" [(ngModel)]="game.genre" #gameGenre="ngModel"
         required pattern="[a-zA-Z_]*"/>
  <div [hidden]="gameGenre.valid || gameGenre.untouched" class="alert alert-danger">Некорректный жанр!</div>


  <label>Минимальное кол-во игроков</label>
  <input type="number" name="gameMinNum" [(ngModel)]="game.minNum" />

  <label>Максимальное кол-во игроков</label>
  <input type="number" name="gameMaxNum" [(ngModel)]="game.maxNum" />

  <div>
    <button (click)="submit(game)">Создать игру</button>
  </div>
</div>
</body>
